/.scribe_p2p_api
/.scribe_site_api
/app/Console/Commands/Dev
/app/Http/Controllers/Dev
/node_modules
/public/developed_sites
/public/new_version.zip
/public/storage
/storage/*.key
/resources/views/dev
/routes/dev.php
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

